@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
  --color-bg: #060c1d;
  --color-primary: #7795e9;
  --color-secondary: #07112c;
  --color-accent: #2455db;
  --color-text: #fbfcfe;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  /* font-family: "Poppins", sans-serif; */
  overflow-x: hidden;
}


.landingpage {
  margin: 0 auto;
  /* padding: 0 80px; */
  padding-bottom: 100px;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #171717;
  /* background-color: rgb(10, 0, 25); */
}

/* .landingpage::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 138px;
  filter: blur(90px);

}

.landingpage::after {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 80%;
  top: 550px;

  filter: blur(80px);
} */

.landingpage .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.landingpage .box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* margin-top: 80px; */
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.736)), url('https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');

}

.landingpage .auction {
  margin-top: 100px;
}

.landingpage .discover {
  display: flex;
  flex-direction: column;
}

.landingpage .footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingpage .footer2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: top 0.3s;
  z-index: 1000;
}


.hamburger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.hamburger-icon {
  width: 45px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.hamburger-nav{
  width: 0;
  height: 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: left;
  justify-content: center;
  overflow: hidden;
  /* opacity: 1; */
  border-bottom-left-radius: 100%;
  /* transition: width 0.5s , height 0.5s , border-radius 0.5s; */
  backdrop-filter: blur(25px);
  pointer-events: none;
  transition-delay: 0s;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, opacity 0.5s;
}

.hamburger-nav ul {
  list-style: none;
  padding: 0;
  margin: 4.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background: none; 
  border: none; 
  color: white;
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  position: absolute; 
  top: 19px;  
  z-index: 2;
  right: 2.3%;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
   color: blue;
   transform: scale(1.2) rotate(90deg);
}

.close-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.close-button:hover::after {
  opacity: 1;
}

.hamburger-nav.open-menu{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0;
  display: block;
  pointer-events: all;
  transition-delay: 0s;
  opacity: 1;
}

.hamburger-nav.open-menu ul li{
  opacity: 1;
  transform: translateY(0);
}


.hamburger-nav ul li {
  opacity: 0;
  font-size: 80px;
  transform: translateY(20px);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
  transform-origin:center;
  transition-delay: 0s;
}

.hamburger-nav ul li:nth-child(1) {
  transition-delay: 0.5s;
}

.hamburger-nav ul li:nth-child(2) {
  transition-delay: 1.0s;
}

.hamburger-nav ul li:nth-child(3) {
  transition-delay: 1.5s;
}

.hamburger-nav ul li:nth-child(4) {
  transition-delay: 2.0s;
}

.hamburger-nav ul li:nth-child(5) {
  transition-delay: 2.5s;
} 
.hamburger-nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 blue;
  transition: text-shadow 0.5s , transform 0.5s; 
}

.hamburger-nav ul li a:hover{
  text-shadow: -3px 3px 0 blue , 0 0 10px blue;
  transform: translateY(-6px);
}
 
.hamburger-nav ul li a:hover::after{
  opacity: 1;
  box-shadow: -2px 2px 0 blue;
}

/* Media query for responsiveness */
/* @media screen and (max-width: 728px) {
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding-top: 50px;
    padding-bottom: px;
    text-align: center;
  }

  .hamburger-nav ul li a {
    font-size: 35px;
  }
} */
@media screen and (min-width: 355px) and (max-width:750px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 22px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

@media screen and (min-width: 376px) and (max-width:900px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 23px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 55px;
  }
}

@media screen and (min-width: 665px) and (max-width:1050px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 75px;
  }
}

@media screen and (min-width: 370px) and (max-width:670px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

@media screen and (min-width: 270px) and (max-width:670px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

.box .infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  max-height: 500px;
  max-width: 55%;
  overflow: hidden;
  position: relative;
  bottom: -100px;
}

.box .infobox-boldtext {
  margin: 0;
  font-family: Poppins;
  color: #ffffff;
  font-size: 65px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2px;
  text-align: left;
  align-self: center;
}

.box .infobox-slimtext {
  margin: 24px 0;
  font-family: Poppins;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.box .infobox-btnwrapper {
  display: flex;
}

.box .infobox-explorebtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1d2b;
  padding: 8px 38px;
  border-radius: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -1px;
  color: #ffffff;
}

.box .infobox-createbtn {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 8px 38px;
  border: 1px solid #d7d7d7;
  border-radius: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -1px;
  color: #ffffff;
}

.box .infobox .selected {
  border: none;

}

.box .display {
  animation-name: rightslide;
  animation-duration: 0.8s;
  padding: 14px;
  border: 1px solid;
  border-radius: 35px;
  max-height: 450px;
  max-width: 50%;
  overflow: hidden;
}

.box .display-nft {
  object-fit: cover;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.box .display .infowrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.box .display .info {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.box .display .info p {
  margin: 0;
}

.box .display .info-img {
  object-fit: cover;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.box .display .info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Poppins";
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.box .display .info2 p {
  margin: 0;
}

.box .display .info2 .iconwrapper {
  display: flex;
  align-items: center;
}

.box .display .info2 .iconwrapper svg {
  margin-right: 5px;
}

.auction .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.auction .title .titlebold {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.auction .title .titleslim {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  color: #d7d7d7;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -1px;
}

.auction .nft {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: space-between;
}

.started {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -100px;
}

.started-boldtext {
  margin: 0;
  align-self: center;
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
}

.started-slimtext {
  margin: 0;
  align-self: center;
  /* font-family: "Poppins"; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 36px;
  letter-spacing: 0.5px; */
  text-align: center;
  color: #e2e2e2;
}

.started-items {
  padding: 60px 80px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
}

.started-items:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 80px;
  filter: blur(80px);

}

.started-items .itemwrapper p {
  width: 100px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.started-items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  background-color: red;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74.4293px);
}

.discover-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.discover-title p {
  font-family: 'Montserrat', sans-serif;
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.discover-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  /* grid-column-gap: 20px; */
  justify-content: space-between;
  /* padding-left: 70px;
  padding-right: 70px; */
  margin-left: 80px;
  margin-right: 80px;
}

.discover-loadbtn {
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
  width: 161px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #bcbcbc;
}



.item-card {
  box-sizing: border-box;
  width: 295px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-color: rgb(64 64 64 / 1) !important;
  padding: 10px;
  border-radius: 15px;
  background-color: #262626;
}

.item-card:hover {
  box-shadow: 1px .5px 10px rgba(255, 255, 255, 0.15);
}

.item-card img {
  object-fit: cover;
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  transition: 0.3s;
}

.item-img:hover {
  transform: scale(1.05);
}

.item-card-body {
  box-sizing: border-box;
  width: 100%;
}

.item-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.item-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.item-title p {
  font-family: 'Montserrat', sans-serif;
}

.item-chips {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.item-chips-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-chip {
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #dee2e6;
  border-color: rgb(64 64 64 / 1) !important;
  height: fit-content;
  padding: 5px 10px;
}

.item-chip span {
  color: #ffffff;
  font-size: 18px;
}

.item-chip p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0 10px;
  cursor: auto;
}

.item-card button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  font-size: 15px;
}

.item-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #bcbcbc;
}

.filters {
  display: flex;
  align-items: center;
}

.filters .filter {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.filters .filter svg {
  margin-right: 5px;
  margin-left: 5px;
}

.filters .filterbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.filters .filterbtn svg {
  margin-right: 5px;
}

@media screen and (max-width: 1500px) {
  /* .landingpage {
    max-width: 1200px;
    padding: 0 40px;
  } */

  .discover-items {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
  }

  .discover-title {
    margin-left: 40px;
    margin-right: 40px;
  }

  .started {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .box {
    flex-direction: column;
  }

  .box .infobox {
    max-height: 450px;
    max-width: none;
    margin-bottom: 50px;
  }

  .box .display {
    display: none;
    max-height: none;
    max-width: none;
  }

  .auction .nft {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  .discover-items {
    grid-template-columns: auto auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  /* .footer {
    flex-direction: column;
  }

  .footer-main {
    max-width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-navigate .nav:first-child {
    margin: 0;
  } */
}

@media screen and (max-width: 925px) {

  /* .landingpage {
    padding: 0 20px;
  } */

  .navlinkwrap {
    display: none;
  }

  .buttonwrap {
    display: none;
  }

  .hamburger {
    display: flex !important;
    align-items: center;
  }

  .started-slimtext {
    text-align: center;
  }

  .discover-items {
    grid-template-columns: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .discover-title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .started {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 825px) {
  .started-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  .started-items:before {
    height: 200px;
    top: 90px;
    filter: blur(120px);
  }

  .hamburger-icon {
    width: 30px;
    height: 15px;
  }

  .bar {
    width: 20px;
    height: 2px;
  }

  .hamburger-nav ul {
    margin: 5%;
  }

  .hamburger-nav .close-button {
    font-size: 25px;
    top: 10px;
    right: 5%;
  }

  .hamburger-nav ul li {
    font-size: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 482px) {
  .box {
    flex-direction: column;
  }
  .center-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box .infobox {
    max-height: none;
    max-width: none;
    margin-bottom: 50px;
  }

  .box .display {
    display: block;
    max-height: none;
    max-width: none;
  }

  .discover-title {
    justify-content: center;
  }

  .discover-title .filters {
    display: none;
  }

  .auction .title {
    justify-content: center;
  }

  .auction .title .titleslim {
    display: none;
  }

  .started-slimtext {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  /* .landingpage {
    padding: 0 20px;
  } */

  .box .infobox {
    bottom: -130px;
    height: max-content;
  }

  .box .infobox-boldtext {
    font-size: 65px;
    line-height: 50px;
    text-align: center;
  }

  .box .infobox-slimtext {
    font-size: 12px;
    line-height: 16px;
  }

  .discover-items {
    grid-template-columns: auto;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
  }

  .discover-title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .started {
    margin-left: 20px;
    margin-right: 20px;
  }

  .auction .nft {
    grid-template-columns: auto;
    justify-content: space-around;
  }

  /* .footer-main {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-navigate {
    justify-content: space-between;
    width: 100%;
  }

  .footer-navigate .nav {
    margin-left: 20px;
  }

  .footer-navigate .nav h5 {
    font-size: 15px;
    line-height: 30px;
  }

  .footer-navigate .nav p {
    font-size: 10px;
    line-height: 18px;
  } */
}

@media screen and (max-width: 480px) {
  .landingpage .box .infobox-boldtext {
    font-size: 65px;
    line-height: 1.4em;
    text-align: center;
  }

  .landingpage .box .infobox-slimtext {
    text-align: center;
  }

  .landingpage .box .infobox-btnwrapper {
    justify-content: center;
  }
}

@keyframes leftslide {
  from {
    transform: translateX(-700px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes rightslide {
  from {
    transform: translateX(550px);
  }

  to {
    transform: translateX(0px);
  }
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: bisque;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

  }

  body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }


  /* .footer {
    padding: 40px 0;
    background-color: rgb(15, 12, 12);
    transform: translateY(57rem);
  } */

  .landingpage {
    min-height: 100%;
  }

}



.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 320px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* Styling buttons & webpage */



/* button {
  cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  margin: 0 auto;
  transition: background-image 3s ease-in-out;
  margin-bottom: 30px;

}

button:hover {
  transition: background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
} */




.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: fit-content;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* Styling buttons & webpage */




p {
  margin: 1em 0;
  font-size: 16px;
}

.popup p {
  color: #4b4c4d;
}

/*  Footer Section  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer_container {
  min-height: 380px;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color:#060c1d;
  color: aliceblue;
  padding: 30px 30px;
}

.footer_first_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.footer_middle_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.footer_container ul {
  list-style: none;
  padding-top: 15px;
}

.footer_container a {
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s, text-shadow 0.2s;
}

.footer_container a:hover {
  text-shadow: 2px 2px 4px #00FFFF;
  text-decoration: underline;
}

.footer_icons a {
  transition: color 0.2s !important;
}

.footer_icons ion-icon[name="logo-instagram"]:hover {
  color: rgb(188, 42, 141);
}

.footer_icons ion-icon[name="logo-linkedin"]:hover {
  color: rgb(0, 119, 181);
}

.footer_icons ion-icon[name="logo-github"]:hover {
  color: #171515;
}

.footer_icons ion-icon[name="logo-facebook"]:hover {
  color: #4267B2;
}

.footer_container li {
  padding-top: 12px;
}

.footer_links {
  padding-left: 270px;
}

.footer_phone_number {
  padding-left: 270px;
}

.footer_icons {
  padding-left: 233px;
}
.footer_icons h2 {
  margin-bottom: 20px;
  padding-left: 7px;
}

.footer_icons span{
  font-size: 30px;
  padding: 0 7px;
}

.footer_email {
  padding-left: 240px;
}

.footer_ending_line {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 15px;
  text-align: auto;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 10px 0; 
}

.footer_name h1{
  font-size: 45px;
  padding-top: 40px;
  font-weight: 500;
}

.footer_name span {
  font-size: 20px;
}

@media (min-width: 1164px) {
  .footer_container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1164px) {
  .footer_first_part,
  .footer_middle_part {
    grid-template-columns: 1fr; 
  }

  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email,
  .footer_name,
  .footer_address,
  .footer_ending_line {
    padding-left: 0; 
    text-align: center; 
  }

  .footer_icons h2 {
    padding-left: 0;
  }
  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email {
    padding-top: 20px;
  }
}

@media(min-width: 1200px) and (max-width: 1405px) {
  .footer_container h2 {
    font-size: 21px;
  }
}

@media(min-width: 300px) and (max-width: 450px) {
  .footer_ending_line {
    font-size: 12px;
  }
}


@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



#canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 80vh;
    width: 100%;
    margin-bottom: 100px;
    
   }

.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 90vh;
    padding: 100px;
    margin-top: -40px;
}

.land_title{
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
  text-align: center;
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  margin-top: -200px;
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 7px #fff, 0 0 16px #fff, 0 0 24px #fff, 0 0 30px #228dff,
      0 0 56px #228dff, 0 0 68px #228dff, 0 0 85px #228dff, 0 0 120px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.subtitle {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.title {
    margin: 0;
    font-size: 52px;
}

.text {
    line-height: 22px;
}

.btn {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.link {
    position: relative;
    outline: none;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.link:hover::before, .link:focus::before {
    opacity: 1;
}

.tablinks {
    position: relative;
    outline: none;
}

.tablinks::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.tablinks:hover::before, .tablinks:focus::before {
    opacity: 1;
}

.tablinks--active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.btn--content {
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5px 15px;

    -webkit-transition:
        background-color .1s ease-in-out,
        color .1s ease-in-out;

    -o-transition:
        background-color .1s ease-in-out,
        color .1s ease-in-out;

    transition:
        background-color .1s ease-in-out,
        color .1s ease-in-out;
}

.btn--content:hover, .btn--content:focus {
    color: #000;
    background-color: #fff;
}

.logo {
    display: block;
}


/*---content---*/
.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1280px;
    min-height: 500px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(16 18 27 / 40%);
    margin: auto auto;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-name {
    position: relative;
}

.logo-name:focus {
    outline: none;
}

.logo-name__top {
    font-size: 28px;
}

.logo-name__bottom {
    position: absolute;
    bottom: -6px;
    left: 25%;
    font-size: 12px;
    line-height: 12px;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__item {
    position: relative;
    text-transform: uppercase;
}

.nav__item:not(:last-child) {
    margin-right: 70px;
}

.nav__item:not(:last-child)::after {
    content: '|';
    position: absolute;
    top: 0;
    left: calc(100% + (70px / 2));
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.content__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 15px;
}

.social__link {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    outline-offset: 0px;
    outline: 0px solid #fff;
    -webkit-transition: outline .1s ease-in-out, outline-offset .1s ease-in-out;
    -o-transition: outline .1s ease-in-out, outline-offset .1s ease-in-out;
    transition: outline .1s ease-in-out, outline-offset .1s ease-in-out;
}

.social__link:hover {
    outline: 1px solid #fff;
    outline-offset: 3px;
}

.content__right {
    max-width: 75%;
    text-align: left;
}

.content__title {
    margin-bottom: 30px;
}

.content__subtitle {
    margin-bottom: 10px;
}

.content__text, .content__text li {
    margin-bottom: 15px;
}

.tabcontent {
    display: none;
}

.tabcontent--active {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
}

.tabcontent {
    -webkit-animation: fadeEffect 1.5s ease;
    animation: fadeEffect 1.5s ease;
}

@-webkit-keyframes fadeEffect {
    from {

        -webkit-transform: translateX(-20px);

        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {

        -webkit-transform: translateX(-20px);

        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}


@media (max-width: 1439px) {

    .top {
        width: 100%;
    }

    .nav__item:not(:last-child) {
        margin-right: 50px;
    }

    .nav__item:not(:last-child)::after {
        left: calc(100% + (50px / 2));
    }

    .content__right {
        max-width: 70%;
    }
}

@media (max-width: 1023px) {
    .top {
        padding: 35px;
    }

    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .logo-name {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .container {
        height: auto;
        padding: 50px 20px;
    }

    .nav {
        width: 100%;
    }

    .nav__list {
        height: 35px;
        overflow: auto
    }

    .nav__list::-webkit-scrollbar {
        display: none;
    }

    .nav__item:not(:last-child) {
        margin-right: 30px;
    }

    .nav__item:not(:last-child)::after {
        left: calc(100% + (30px / 2));
    }

    .top {
        padding: 25px;
    }

    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .content__right {
        max-width: 100%;
        margin-bottom: 30px;
        text-align: left;
    }

    .title {
        font-size: 32px;
    }
}

@media (max-width: 424px) {
    body {
        font-size: 14px;
    }

    .header {
        margin-bottom: 40px;
    }

    .nav {
        width: 100%;
    }

    .nav__item:not(:last-child) {
        margin-right: 10px;
    }

    .nav__item:not(:last-child)::after {
        display: none;
    }

    .content__title {
        margin-bottom: 10px;
    }

    .content__text {
        margin-bottom: 10px;
    }

}

.glowIn {
  color: white;
}

#binary-rain {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.binary-digit {
  position: absolute;
  color: #00ff00;
  font-size: 40px;
  white-space: nowrap;
  opacity: 0.6;
  user-select: none;
  animation: falling 5s linear infinite;
}

@keyframes blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

@keyframes falling {
  to {
      transform: translateY(80vh);
  }
}

.tech_logo img{
  width: 30%;
  margin-top: -100px;
  margin-left: 35%;
}

@media (max-width: 767px) {
  .land_title{
    margin-top: 100px;
  }
  .glowIn{
    margin-top: 50px;
  }
  .tech_logo img{
    margin-top: -80px;
    width: 70%;
    margin-left: 40px;
    margin-bottom: -150px;
  }
}