@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body { 
  justify-content: center;
  align-items: center;
  margin: 0; 
  font-family: 'DM Sans', sans-serif;
  flex-direction: column;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a{
  color : whitesmoke;
  text-decoration: none;
  font-size: 18px;
}

.logo{
  padding : 8px 15px;
}

.active{
  color : whitesmoke;
  font-weight: bold;
}

/*Navbar  */

.landingpage .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.landingpage .box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.736));

}

.landingpage .auction {
  margin-top: 100px;
}

.landingpage .discover {
  display: flex;
  flex-direction: column;
}

.landingpage .footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingpage .footer2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: top 0.3s;
  z-index: 1000;
}


.hamburger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.hamburger-icon {
  width: 45px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: beige;
  transition: 0.3s;
}

.hamburger-nav{
  width: 0;
  height: 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: left;
  justify-content: center;
  overflow: hidden;
  /* opacity: 1; */
  border-bottom-left-radius: 100%;
  /* transition: width 0.5s , height 0.5s , border-radius 0.5s; */
  backdrop-filter: blur(25px);
  pointer-events: none;
  transition-delay: 0s;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, opacity 0.5s;
}

.hamburger-nav ul {
  list-style: none;
  padding: 13px;
  margin: 4.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background: none; 
  border: none; 
  color: beige;
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  position: absolute; 
  top: 19px;  
  z-index: 2;
  right: 2.3%;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
   color: #800080;
   transform: scale(1.2) rotate(90deg);
}

.close-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.close-button:hover::after {
  opacity: 1;
}

.hamburger-nav.open-menu{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0;
  display: block;
  pointer-events: all;
  transition-delay: 0s;
  opacity: 1;
}

.hamburger-nav.open-menu ul li{
  opacity: 1;
  transform: translateY(0);
}


.hamburger-nav ul li {
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 53px;
  transform: translateY(20px);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
  transform-origin:center;
  transition-delay: 0s;
}

.hamburger-nav ul li:nth-child(1) {
  transition-delay: 1.0s;
}

.hamburger-nav ul li:nth-child(2) {
  transition-delay: 2.0s;
}

.hamburger-nav ul li:nth-child(3) {
  transition-delay: 3.0s;
}

.hamburger-nav ul li:nth-child(4) {
  transition-delay: 4.0s;
}

.hamburger-nav ul li:nth-child(5) {
  transition-delay: 5.0s;
} 
.hamburger-nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: beige;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 #800080;
  transition: text-shadow 0.5s , transform 0.5s; 
}

.hamburger-nav ul li a:hover{
  text-shadow: -3px 3px 0 #800080, 0 0 10px #800080;
}
 
.hamburger-nav ul li a:hover::after{
  opacity: 1;
  box-shadow: -2px 2px 0 black;
}
 
@media screen and (min-width: 355px) and (max-width:750px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 16px;
    text-align: center;
    position: center;
    margin-bottom: 25px;
  }

  .hamburger-nav ul li a {
    font-size: 200px;
}

.close-button {
  background: none; 
  border: none; 
  color: beige;
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  position: absolute; 
  top: 19px;  
  z-index: 2;
  right: 2.3%;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
} 

@media screen and (min-width: 375px) and (max-width:900px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 35px;
    text-align: center;
    position: center;
    margin-bottom: 35px;
  }

  .hamburger-nav ul li a {
    font-size: 52px;
  }

  .close-button {
    background: none; 
    border: none; 
    color: beige;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    position: absolute; 
    top: 19px;  
    z-index: 2;
    right: 2.3%;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 400px) and (max-width:950px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 50px;
    text-align: center;
    position: center;
    margin-bottom: 60px;
  }

  .hamburger-nav ul li a {
    font-size: 52px;
  }

  .close-button {
    background: none; 
    border: none; 
    color: beige;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    position: absolute; 
    top: 19px;  
    z-index: 2;
    right: 2.3%;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 665px) and (max-width:1050px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 35px;
    text-align: center;
    position: center;
    margin-bottom: 35px;
  }

  .hamburger-nav ul li a {
    font-size: 55px;
  }
}

@media screen and (min-width: 355px) and (max-width:750px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 13px;
    text-align: center;
    position: center;
    margin-bottom: 25px;
  }

  .hamburger-nav ul li a {
    font-size: 5px;
  }
} 

@media screen and (min-width: 270px) and (max-width:670px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 10px;
    text-align: center;
    position: center;
    margin-bottom: 27px;
  }

  .hamburger-nav ul li a {
    font-size: 30px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1035px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 35px;
    text-align: center;
    position: center;
    margin-bottom: 35px;
  }

  .hamburger-nav ul li a {
    font-size: 45px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1400px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 7px;
    text-align: center;
    position: center;
    margin-bottom: 13px;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

header {
  position: relative;
  width: 100%;
  height: 104vh;
  background: url("header1.jpg") no-repeat center center/cover;
  background-position: bottom;
  background-size: cover;
  align-items: flex-end;
  justify-content : center;
  overflow : hidden;
}

.header-content {
  margin-bottom: 150px; 
  text-align: center;
  color: whitesmoke;
}

.header-content h1{
  font-size: 11vmin;
  margin-top: 200px;
  margin-bottom: 30px;
}

.ctn{
  padding : 10px 22px;
  background: #0dcaf0;
  border-radius : 30px;
  color : whitesmoke;
  text-decoration: none;
}

.ctn:hover{
  background: #0077B5;
  color : whitesmoke;
  text-decoration: none;
}

.row{
  display : flex;
  flex-wrap : wrap;
  padding : 2em 1em;
  text-align : center;
  justify-content: space-around;
}

.column{
  width : calc(33.33% - 2em);
  padding : 0.5em ;
}

.row h1{
  width : 100%;
  text-align : center;
  font-size : 3.5em;
  color : #1f003b;
}

.card{
  box-shadow: 0 0 2em rgba(25, 0, 58, 0.15);
  padding : 3.5em 3em;
  border-radius : 0.6em;
  color : #1f003b;
  cursor : pointer;
  transition : 0.3s;
  width : 100%;
}

.card .img-container {
  width : 8em;
  height : 8em;
  background-color : #5DBDCC;
  padding : 0.5em;
  border-radius : 50%;
  margin : 0 auto 2em auto;
}

.card img{
  width: 100%;
  border-radius : 50%;
}

.card h3{
  font-weight: 500;
}

.card p{
  font-weight : 300;
  text-decoration : uppercase;
  margin : 0.5em 0 2em 0;
}

.icons{
  width : 5%;
  min-width : 180px;
  margin : auto;
  display : flex;
  justify-content : space-evenly;
}

.card a {
  color : inherit;
  text-decoration : none;
  font-size : 1.4em;
}

.card:hover {
  background: #0077B5;
  color : white;
}

.card:hover .img-container{
  transform : scale(1.15);
}

@media screen and (min-width: 355px) and (max-width:750px){

  header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* align-items: flex-end; */
    justify-content : center;
    overflow : hidden;
  } 

  .header-content {
    margin-bottom: 50px;
  }

  .header-content h1 {
    font-size: 10vmin;
    margin-top: 300px;
    margin-bottom: 10px;
  }

  .ctn {
    font-size: 16px;
    padding: 12px 15px;
  }

  .row {
    padding: 1em;
  }

  .column {
    width: 100%;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em 1.5em;
    width: 100%;
  }

  .icons {
    width: 100%;
    min-width: 10;
    justify-content: space-evenly; 
  }
}

@media screen and (min-width: 376px) and (max-width:900px){

  header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* align-items: flex-end; */
    justify-content : center;
    overflow : hidden;
  } 

  .header-content h1 {
    font-size: 10vmin; 
    margin-top: 300px;
  }

  .ctn {
    font-size: 16px; 
    padding: 16px 25px; 
  }

  .row {
    padding: 1em;
  }

  .column {
    width: 100%;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em 1.5em;
    width: 100%;
  }

  .icons {
    width: 100%;
    min-width: 10;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 665px) and (max-width:1050px){

  header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* align-items: flex-end; */
    justify-content : center;
    overflow : hidden;
  }
  
  .header-content h1 {
    font-size: 10vmin; 
    margin-top: 300px;
  }

  .ctn {
    font-size: 20px; 
    padding: 16px 25px; 
  }

  .row {
    padding: 1em;
  }

  .column {
    width: 100%;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em 1.5em;
    width: 100%;
  }

  .icons {
    width: 50%;
    min-width: 10;
  }
}

@media screen and (min-width: 370px) and (max-width:670px){

   header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* align-items: flex-end; */
    justify-content : center;
    overflow : hidden;
  } 

  .header-content {
    margin-bottom: 50px;
    margin-top: 300px;
  }

  .header-content h1 {
    font-size: 10vmin;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .ctn {
    font-size: 16px;
    padding: 12px 15px;
  }

  .row {
    padding: 1em;
  }

  .column {
    width: 100%;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em 1.5em;
    width: 100%;
  }

  .icons {
    width: 100%;
    min-width: 10;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 270px) and (max-width:670px){

  header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* align-items: flex-end; */
    justify-content : center;
    overflow : hidden;
  } 

  .header-content {
    margin-bottom: 50px;
  }

  .header-content h1 {
    font-size: 10vmin;
    margin-top: 300px;
    margin-bottom: 10px;
  }

  .ctn {
    font-size: 16px;
    padding: 12px 15px;
  }

  .row {
    padding: 1em;
  }

  .column {
    width: 100%;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em 1.5em;
    width: 100%;
  }

  .icons {
    width: 100%;
    min-width: 10;
    justify-content: space-evenly;
  } 
}

/* Footer Section */

.footer_container {
  min-height: 380px;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  padding: 30px 30px;
  background-color: #1d1d1d;
}

.footer_first_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.footer_middle_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.footer_container ul {
  list-style: none;
  padding-top: 15px;
}

.footer_container a {
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s, text-shadow 0.2s;
}

.footer_container a:hover {
  text-shadow: 2px 2px 4px #00FFFF;
  text-decoration: underline;
}

.footer_icons a {
  transition: color 0.2s !important;
}

.footer_icons ion-icon[name="logo-instagram"]:hover {
  color: rgb(188, 42, 141);
}

.footer_icons ion-icon[name="logo-linkedin"]:hover {
  color: rgb(0, 119, 181);
}

.footer_icons ion-icon[name="logo-github"]:hover {
  color: #171515;
}

.footer_icons ion-icon[name="logo-facebook"]:hover {
  color: #4267B2;
}

.footer_container li {
  padding-top: 12px;
}

.footer_links {
  padding-left: 270px;
}

.footer_phone_number {
  padding-left: 270px;
}

.footer_icons {
  padding-left: 233px;
}

.footer_icons a {
  font-size: 25px;
}
.footer_icons h2 {
  margin-bottom: 20px;
  padding-left: 7px;
}

.footer_icons span{
  font-size: 30px;
  padding: 0 7px;
}

.footer_email {
  padding-left: 240px;
}

.footer_ending_line {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 15px;
  text-align: auto;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 10px 0; 
}

.footer_name h1{
  font-size: 45px;
  padding-top: 40px;
  font-weight: 500;
}

.footer_name span {
  font-size: 20px;
}

.footer_container h2{
    font-weight: bold;
}


@media (min-width: 1164px) {
  .footer_container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1164px) {
  .footer_first_part,
  .footer_middle_part {
    grid-template-columns: 1fr; 
  }

  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email,
  .footer_name,
  .footer_address,
  .footer_ending_line {
    padding-left: 0; 
    text-align: center; 
  }

  .footer_icons h2 {
    padding-left: 0;
  }
  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email {
    padding-top: 20px;
  }
}

@media(min-width: 1200px) and (max-width: 1405px) {
  .footer_container h2 {
    font-size: 21px;
  }
}

@media(min-width: 300px) and (max-width: 450px) {
  .footer_ending_line {
    font-size: 12px;
  }
}