@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

html {
  font-size: clamp(8px, 1vw, 10px);
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c #0b0b0b;
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background-color: #0b0b0b;
}

html::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
}

body {
  color: #ffffff;
  background-color: rgb(15 23 42);
  font-size: 1.6rem;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 900;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Container Style */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */
.header {
  position: fixed;
  top: 0;
  left: -4.2%;
  width: 109%;
  padding: 1.3rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  min-height: 50px;
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 2.2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.nav-item {
  position: relative;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-decoration: none;
  margin-left: 1.9rem;
  margin-right: 0.0rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: skyblue;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 7%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 20.7rem;
  }

  .nav-item {
    display: block;
    font-size: 1.7rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}


/* Image Slideshow */
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin-bottom: 100px;
}

#spacer {
  height: 10%;
  width: 100%;
}

#slides {
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 350px;
  background-color: #e0e0e0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.2, 1);
  will-change: transform, opacity;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
.slide::before {
  content: "•••";
  color: #999;
  font-size: 40px;
  line-height: 30px;
  padding-left: 8px;
  letter-spacing: 2px;
  display: block;
  height: 30px;
  background: linear-gradient(#ddd, #ccc);
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.slide img {
  width: 500px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-left {
  transform: translateX(-320px) perspective(1000px) rotateY(45deg) scale(0.8);
  opacity: 0.8;
  z-index: 2;
}

.slide-center {
  opacity: 1;
  z-index: 4;
}

.slide-right {
  transform: translateX(320px) perspective(1000px) rotateY(-45deg) scale(0.8);
  opacity: 0.8;
  z-index: 3;
}

.sliding-right .slide-left {
  z-index: 3;
}
.sliding-right .slide-right {
  z-index: 3;
}

.btn {
  font-size: 50px;
  color: #dfe0e7;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  z-index: 4;
  cursor: pointer;
}

#btn-left {
  left: 25px;
  z-index: 5;
}

#btn-right {
  right: 25px;
}

/* Primary Button Style */
.primary-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  border: 1px solid #ffffff;
  text-decoration: none;
  margin-top: 1rem;
  -webkit-box-shadow: 2px 2px 0 #0b0b0b, 0.3em 0.3em 0 #ffffff;
  box-shadow: 2px 2px 0 #0b0b0b, 0.3em 0.3em 0 #ffffff;
  -webkit-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.primary-btn:hover,
.primary-btn:focus {
  color: #0b0b0b;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 0 #0b0b0b, 0.3em 0.3em 0 #2c2c2c;
  box-shadow: 2px 2px 0 #0b0b0b, 0.3em 0.3em 0 #2c2c2c;
}

/* Common Banner and Footer Section Style */
.banner,
.footer {
  text-align: center;
  padding: 10rem 0;
  background-color: black;
}

.banner__title,
.footer__title {
  font-size: 4rem;
}

@media screen and (min-width: 600px) {

  .banner__title,
  .footer__title {
    font-size: 10rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 780px) {

  .banner__title,
  .footer__title {
    font-size: 6rem;
  }
}

.banner__text,
.footer__text {
  margin: 2rem auto;
}

@media screen and (min-width: 500px) {

  .banner__text,
  .footer__text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) {

  .banner__text,
  .footer__text {
    max-width: 60%;
  }
}

/* Banner Section Style */
.banner__sub-title {
  font-size: 3rem;
  color: #61DAFB;
}

/* Timeline Section Style */
.timeline {
  position: relative;
}

.timeline__progressbar {
  --width: 2px;
  --left: -moz-calc(((15vw / 2) + 15px) - (var(--width) / 2));
  --left: calc(((15vw / 2) + 15px) - (var(--width) / 2));
  position: absolute;
  left: var(--left);
  width: var(--width);
  height: 100%;
  background-color: #2c2c2c;
  background-image: linear-gradient(180deg, #0f172a 0%, #2c2c2c 1%);
  z-index: -1;
}

.timeline__progressbar::after {
  content: "";
  position: fixed;
  top: 0;
  left: var(--left);
  width: var(--width);
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#b25d46), color-stop(#a74141), color-stop(#743879), to(#4a3ca0));
  background: -webkit-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: -moz-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: -o-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
}

@media screen and (min-width: 800px) {
  .timeline__progressbar {
    --width: 3px;
    --left: -moz-calc(50% - (var(--width) / 2));
    --left: calc(50% - (var(--width) / 2));
  }
}

.timeline__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15vw 1fr;
  grid-template-columns: 15vw 1fr;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@media screen and (min-width: 800px) {
  .timeline__block {
    -ms-grid-columns: 1fr 15vh 1fr;
    grid-template-columns: 1fr 15vh 1fr;
  }
}

@media screen and (min-width: 800px) {
  .timeline__block__head {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
  }
}

.timeline__block__body {
  grid-column: 2 / -1;
}

@media screen and (min-width: 800px) {
  .timeline__block__body {
    grid-column: 3 / -1;
  }
}

.timeline__block__bullet-point {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .timeline__block__bullet-point {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.timeline__block__circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* border: 4px solid #0b0b0b; */
  border: 8px solid #0f172a;
  background-color: #ffffff;
  border-radius: 50%;
}

.timeline__block__title {
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 799px) {
  .timeline__block__title {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .timeline__block__title {
    line-height: 0;
  }
}

.timeline__block__text {
  font-size: 1.2rem;
}

@media screen and (min-width: 500px) {
  .timeline__block__text {
    font-size: 1.8rem;
  }
}


/*# sourceMappingURL=style.css.map */


img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* Utilities */
/* .card::after,
.card img {
  border-radius: 50%;
} */

.card,
.stats {
  display: flex;
}

.card {
  flex-direction: column;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  max-width: 450px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  /* color: #0b0b0b; */
  /* background-color: #ffffff; */
  color: #ffffff;
  background-color: transparent;
}

/* .card::before,
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}

.card::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
} */

.card img {
  border-radius: 15px !important;
  /* width: 8rem; */
  width: 100%;
  /* min-width: 80px; */
  /* box-shadow: 0 0 0 5px #FFF; */
  margin-top: 10px;
}

/* .infos {
  margin-left: 1.5rem;
} */

.name {
  margin-bottom: 1rem;
}

.name h2 {
  font-size: 2rem;
}

.name h4 {
  font-size: .8rem;
  color: #333
}

.text {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
  margin-bottom: 4rem;
}

.stats {
  margin-bottom: 1rem;
}

.stats li {
  min-width: 5rem;
}

.stats li h3 {
  font-size: .99rem;
}

.stats li h4 {
  font-size: .75rem;
}

.links button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
}

.links .follow,
.links .view:hover {
  background-color: #222;
  color: #FFF;
}

.links .view,
.links .follow:hover {
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
  }

  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .links button {
    min-width: 100px;
  }
}

/*   Footer Section   */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.footer_container {
  min-height: 380px;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif !important;
  color: aliceblue;
  padding: 30px 30px;
  background-color: #1d1d1d;
}

.footer_first_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.footer_middle_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.footer_container ul {
  list-style: none;
  padding-top: 15px;
}

.footer_container a {
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s, text-shadow 0.2s;
}

.footer_container a:hover {
  text-shadow: 2px 2px 4px #00FFFF;
  text-decoration: underline;
}

.footer_icons a {
  transition: color 0.2s !important;
}

.footer_icons ion-icon[name="logo-instagram"]:hover {
  color: rgb(188, 42, 141);
}

.footer_icons ion-icon[name="logo-linkedin"]:hover {
  color: rgb(0, 119, 181);
}

.footer_icons ion-icon[name="logo-github"]:hover {
  color: #171515;
}

.footer_icons ion-icon[name="logo-facebook"]:hover {
  color: #4267B2;
}

.footer_container li {
  padding-top: 12px;
}

.footer_links {
  padding-left: 270px;
}

.footer_phone_number {
  padding-left: 270px;
}

.footer_icons {
  padding-left: 233px;
}
.footer_icons h2 {
  margin-bottom: 20px;
  padding-left: 7px;
}

.footer_icons span{
  font-size: 30px;
  padding: 0 7px;
}

.footer_email {
  padding-left: 240px;
}

.footer_ending_line {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 15px;
  text-align: auto;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 10px 0; 
}

.footer_name h1{
  font-size: 45px;
  padding-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_name span {
  font-size: 20px;
}

.footer_container h2{
  font-weight: bold;
  font-size: 23px;
}

@media (min-width: 1164px) {
  .footer_container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1164px) {
  .footer_first_part,
  .footer_middle_part {
    grid-template-columns: 1fr; 
  }

  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email,
  .footer_name,
  .footer_address,
  .footer_ending_line {
    padding-left: 0; 
    text-align: center; 
  }

  .footer_icons h2 {
    padding-left: 0;
  }
  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email {
    padding-top: 20px;
  }
}

@media(min-width: 1200px) and (max-width: 1405px) {
  .footer_container h2 {
    font-size: 21px;
  }
}

@media(min-width: 300px) and (max-width: 450px) {
  .footer_ending_line {
    font-size: 12px;
  }
}
