@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background: rgb(10, 0, 15);
    background-image: url(./background.avif);
    background-position: center;
    background-size: cover;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
  }
  
  .hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: top 0.3s;
    z-index: 1000;
  }
  
  
  .hamburger-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  
  .hamburger-icon {
    width: 45px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bar {
    width: 35px;
    height: 3px;
    background-color: beige;
    transition: 0.3s;
  }
  
  .hamburger-nav{
    width: 0;
    height: 0;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    /* opacity: 1; */
    border-bottom-left-radius: 100%;
    /* transition: width 0.5s , height 0.5s , border-radius 0.5s; */
    backdrop-filter: blur(25px);
    pointer-events: none;
    transition-delay: 0s;
    transition: width 0.5s, height 0.5s, border-radius 0.5s, opacity 0.5s;
  }
  
  .hamburger-nav ul {
    list-style: none;
    padding: 13px;
    margin: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    background: none; 
    border: none; 
    color: beige;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    position: absolute; 
    top: 19px;  
    z-index: 2;
    right: 2.3%;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .close-button:hover {
     color: #800080;
     transform: scale(1.2) rotate(90deg);
  }
  
  .close-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  .close-button:hover::after {
    opacity: 1;
  }
  
  .hamburger-nav.open-menu{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    display: block;
    pointer-events: all;
    transition-delay: 0s;
    opacity: 1;
  }
  
  .hamburger-nav.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .hamburger-nav ul li {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 53px;
    transform: translateY(20px);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
    transform-origin:center;
    transition-delay: 0s;
  }
  
  .hamburger-nav ul li:nth-child(1) {
    transition-delay: 1.0s;
  }
  
  .hamburger-nav ul li:nth-child(2) {
    transition-delay: 2.0s;
  }
  
  .hamburger-nav ul li:nth-child(3) {
    transition-delay: 3.0s;
  }
  
  .hamburger-nav ul li:nth-child(4) {
    transition-delay: 4.0s;
  }
  
  .hamburger-nav ul li:nth-child(5) {
    transition-delay: 5.0s;
  } 
  .hamburger-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: beige;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 0 #800080;
    transition: text-shadow 0.5s , transform 0.5s; 
  }
  
  .hamburger-nav ul li a:hover{
    text-shadow: -3px 3px 0 #800080, 0 0 10px #800080;
  }
   
  .hamburger-nav ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 black;
  }
   
  @media screen and (min-width: 355px) and (max-width:750px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 16px;
      text-align: center;
      position: center;
      margin-bottom: 25px;
    }
  
    .hamburger-nav ul li a {
      font-size: 200px;
  }
  
  .close-button {
    background: none; 
    border: none; 
    color: beige;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    position: absolute; 
    top: 19px;  
    z-index: 2;
    right: 2.3%;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  } 
  
  @media screen and (min-width: 375px) and (max-width:900px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 35px;
      text-align: center;
      position: center;
      margin-bottom: 35px;
    }
  
    .hamburger-nav ul li a {
      font-size: 52px;
    }
  
    .close-button {
      background: none; 
      border: none; 
      color: beige;
      border-radius: 5px; 
      cursor: pointer; 
      font-weight: bold; 
      position: absolute; 
      top: 19px;  
      z-index: 2;
      right: 2.3%;
      font-size: 30px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width:950px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 50px;
      text-align: center;
      position: center;
      margin-bottom: 60px;
    }
  
    .hamburger-nav ul li a {
      font-size: 52px;
    }
  
    .close-button {
      background: none; 
      border: none; 
      color: beige;
      border-radius: 5px; 
      cursor: pointer; 
      font-weight: bold; 
      position: absolute; 
      top: 19px;  
      z-index: 2;
      right: 2.3%;
      font-size: 30px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }
  }
  
  @media screen and (min-width: 665px) and (max-width:1050px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 35px;
      text-align: center;
      position: center;
      margin-bottom: 35px;
    }
  
    .hamburger-nav ul li a {
      font-size: 55px;
    }
  }
  
  @media screen and (min-width: 355px) and (max-width:750px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 13px;
      text-align: center;
      position: center;
      margin-bottom: 25px;
    }
  
    .hamburger-nav ul li a {
      font-size: 5px;
    }
  } 
  
  @media screen and (min-width: 270px) and (max-width:670px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 10px;
      text-align: center;
      position: center;
      margin-bottom: 27px;
    }
  
    .hamburger-nav ul li a {
      font-size: 30px;
    }
  }
  
  @media screen and (min-width: 680px) and (max-width: 1035px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 35px;
      text-align: center;
      position: center;
      margin-bottom: 35px;
    }
  
    .hamburger-nav ul li a {
      font-size: 45px;
    }
  }
  
  @media screen and (min-width: 1000px) and (max-width:1400px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 7px;
      text-align: center;
      position: center;
      margin-bottom: 13px;
    }
  
    .hamburger-nav ul li a {
      font-size: 40px;
    }
  }

  .logo-cont{
    transform: translateX(27%);
  }
  h1 {
    color: aliceblue;
    font-size: 48px;
    /* text-shadow: 1px 1px #ffe, 3px 3px #0f0; */
    text-align: center;
    /* letter-spacing: 0.5rem; */
  }
  h3{
    text-decoration: underline;
  }
  marquee {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    height: 250px;
    margin: 0 auto 300px auto;
    padding: 0 20px;
    background-color: #000;
    color: #0f0;
    border: 1px solid #000;
    border-radius: 20px;
    outline: 10px outset #aaa;
    text-align: center;
  }
  li {
    list-style: none;
  }
  .li {
    margin-left: 110px;
    list-style: circle;
    line-height: 15px;
    text-align: left;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      overflow-x: hidden;
    }
    .logo-cont{
      width: fit-content;
      transform: translateX(15%);
      margin-top: 50px;
    }
    h1{
      font-size: 1.5rem;
      color: #ffe;
      transform: translateX(-30px);
      text-align: center;

    }
    marquee{
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    height: 250px;
    margin: 0 ;
    padding: 0 20px;
    background-color: #000;
    color: #0f0;
    border: 1px solid #000;
    border-radius: 20px;
    outline: 10px outset #aaa;
    text-align: center;
    }
  }