html {
    color: #0d1f3f;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    background: #f7f6f5;
    margin: 0;

}

section {
    margin: 3vw;
}

img,
video,
picture {
    max-width: 100%;
    height: auto;
}

a {
    transition: color .2s ease-in-out;
}

p a:link,
address a:link,
address a:visited,
p a:visited {
    color: #005780;
}

a:hover,
a:focus {
    color: #0093d9;
}


.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 100%;
    letter-spacing: .01rem;
    margin: 0 3vw;
    border-bottom: 1px solid #B8BFCC;
}

.nav__wrapper ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav__wrapper a {
    text-decoration: none;
    max-width: 5rem;
    display: inline-block;
    padding: 1rem;
    color: inherit;
}

.nav__wrapper a:first-line {
    font-weight: bold;
}

.nav__wrapper .logo {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5%;
}

.nav__wrapper .logo:hover {
    color: initial;
}

.nav__wrapper .n-logo {
    font-weight: 600;
}

.nav__wrapper .n-logo:hover {
    cursor: pointer;
}

@media(max-width: 54rem) {
    /* nav .n-logo {
        display: none;
    } */

    .nav__wrapper .logo {
        position: static;
        margin: 0;
    }
}

@media(max-width: 27rem) {
    .nav__wrapper {
        font-size: .7rem;
    }

    .nav__wrapper a {
        padding: 1rem .5rem;
        max-width: 4rem;
    }
}

@media(min-width: 50rem) {
    body {
        font-size: 2vw;
    }

    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: .85rem;
        line-height: 100%;
        letter-spacing: .01rem;
        margin: 0 3vw;
        border-bottom: 1px solid #B8BFCC;
    }
}

@media(min-width: 100rem) {
    body {
        font-size: 2rem;
    }

    section {
        margin: 5rem;
    }

    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: .85rem;
        line-height: 100%;
        letter-spacing: .01rem;
        margin: 0 3rem;
        border-bottom: 1px solid #B8BFCC;
    }
}

.nav__wrapper {
    border-bottom-color: #0d1f3f;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    padding-left: 1vw;
}

.nav__wrapper a:hover {
    color: #fff;
}

ruby {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -.25rem;
}

rt {
    font-size: .85rem;
    letter-spacing: .1rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.header {
    position: relative;
    z-index: -1;
    margin: 0;
    /* padding: calc(4rem + 6rem) 0 6rem 3vw; */
    padding: 0px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    max-height: 100vw;
    user-select: none;
}

.rainbow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.numbers {
    display: flex;
    /* flex-direction: column; */
    gap: 5vh;
    text-align: center;
    background: #0d1f3f;
    color: #fff;
    margin: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.section {
    position: relative;
    z-index: 10;
}

@media(min-width: 50rem) {
    ruby {
        font-size: 7vw;
        letter-spacing: -.5vw;
    }

    rt {
        font-size: 1vw;
        letter-spacing: .1vw;
    }

    .numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        /* justify-content: center; */
        align-items: center;
        /* gap: 15vw; */
    }
}

@media(min-width: 100rem) {
    ruby {
        font-size: 10rem;
        letter-spacing: -.5rem;
    }

    rt {
        font-size: 1rem;
        letter-spacing: .1rem;
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 120%;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    line-height: 120%;
    margin: 0;
}

h3 {
    font-size: 1rem;
    line-height: 120%;
    margin: 0;
}

p {
    margin: 0 0 .5rem;
    line-height: 125%;
    letter-spacing: -0.02rem;
}

@media(min-width: 50rem) {
    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 2vw;
        max-width: 45vw;
    }

    p {
        margin: 0 0 1vw;
        letter-spacing: -.01vw;
    }

    footer ul {
        display: flex;
    }
}

@media(min-width: 100rem) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        max-width: 45rem;
    }

    p {
        margin: 0 0 1rem;
        letter-spacing: -.005rem;
    }
}