*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.919);
}
.contact-parent{
    background: #fff;
    display:flex;
    margin:80px 0;
}

.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://i.ibb.co/nwRxrfL/xim.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}

.child1 p span{
    font-size:16px;
    color:#9df2fd;
}

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}

.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}

.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}

@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }

    .child1{
        display:none;
    }

    .child2{
        background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://i.ibb.co/nwRxrfL/xim.jpg");
        background-size:cover;
        color: beige;
    }

    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    list-style-type: none;
    font-style: normal;
  }
  
  body {
    height: 100vh;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  nav {
    line-height: 1.4;
    font-family: "Space Mono", monospace;
    background: #1d1f20;
    padding: 25px 35px;
    width: 300px;
    top: calc(50vh - 247px);
    left: calc(50vw - 150px);
    position: fixed;
    border-radius: 16px;
    box-shadow: 0 0 60px -15px black;
    transform: scale(0) rotate(360deg);
    transition: all 0.75s;
    font-size: 18px;
    z-index: 999;
  }
  
  nav.menu_active {
    transform: scale(1) rotate(0deg);
    z-index: 999;
  }
  
  nav > ol > li {
    margin: 20px 0;
    color: #b5bc67;
  }
  
  nav > ol > li:first-of-type {
    color: #efc371;
  }
  
  nav > ol > li > ol {
    margin: 10px 0 0 20px;
    border-left: 1px solid #4d4d4c;
    color: #ae94c0;
  }
  
  nav > ol > li > ol > li {
    margin: 7px 0;
    padding-left: 20px;
  }
  
  nav a:hover {
    color: #dd925f;
  }
  
  h3 {
    position: fixed;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    color: #cfd8dc;
    top: 30px;
    left: 90%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 999;
  }
  
  .menu h3:hover {
    border-bottom: 6px dotted #cfd8dc;
    padding-bottom: 10px;
    top: 20px;
  }
  
  p {
    font-family: "Roboto Mono", monospace;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
  }
  .button1 {
    color: white;
    background-color: #2d7eff;
    border: 5px solid transparent;
    transition: 0.2s ease;
    border-radius: 50px;
  }
  .button1:hover {
    color: #2d7eff;
    background-color: white;
    transform: scale(1.1);
    border: 5px solid #2d7eff;
  }
  .button1:active {
    box-shadow: 0px 7px 0px 0px #258cd1;
  }

  .menu p:hover {
    border-bottom: 2px dotted #cfd8dc;
    padding-bottom: 5px;
  }
  
  @media (max-width: 1194px) {
    h3 {
      top: 20px;
      left: 80%;
      font-size: 1.4rem;
    }
    .PosterButton{
      top: 70%;
      border-radius: 50px;
      left: 30%;
    }
  }
  @media (max-width: 600px) {
    h3 {
      top: 20px;
      left: 70%;
      font-size: 1.4rem;
    }
    .navlogo img{
      top:10%;
      width: 85%;
      text-align: center;
    }
  
  }