@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    /* text-align: center; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    list-style-type: none;
    font-style: normal;
  }

  body {
    height: 100vh;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  nav {
    line-height: 1.4;
    font-family: "Space Mono", monospace;
    background: #1d1f20;
    padding: 25px 35px;
    width: 300px;
    top: calc(50vh - 247px);
    left: calc(50vw - 150px);
    position: fixed;
    border-radius: 16px;
    box-shadow: 0 0 60px -15px black;
    transform: scale(0) rotate(360deg);
    transition: all 0.75s;
    font-size: 18px;
    z-index: 999;
  }
  
  nav.menu_active {
    transform: scale(1) rotate(0deg);
    z-index: 999;
  }
  
  nav > ol > li {
    margin: 20px 0;
    color: #b5bc67;
  }
  
  nav > ol > li:first-of-type {
    color: #efc371;
  }
  
  nav > ol > li > ol {
    margin: 10px 0 0 20px;
    border-left: 1px solid #4d4d4c;
    color: #ae94c0;
  }
  
  nav > ol > li > ol > li {
    margin: 7px 0;
    padding-left: 20px;
  }
  
  nav a:hover {
    color: #dd925f;
  }
 
  h3 {
    position: fixed;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    color: #cfd8dc;
    top: 30px;
    left: 90%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 999;
  }
  
 .menu h3:hover {
    border-bottom: 6px dotted #cfd8dc;
    padding-bottom: 10px;
    top: 20px;
  }
  
  p {
    font-family: "Roboto Mono", monospace;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
  }
  .button1 {
    color: white;
    background-color: #2d7eff;
    border: 5px solid transparent;
    transition: 0.2s ease;
    border-radius: 50px;
  }
  .button1:hover {
    color: #2d7eff;
    background-color: white;
    transform: scale(1.1);
    border: 5px solid #2d7eff;
  }
  .button1:active {
    box-shadow: 0px 7px 0px 0px #258cd1;
  }
  
  .menu p:hover {
    border-bottom: 2px dotted #cfd8dc;
    padding-bottom: 5px;
  }
  
  @media (max-width: 1194px) {
    h3 {
      top: 20px;
      left: 80%;
      font-size: 1.4rem;
    }
  }
  @media (max-width: 600px) {
    h3 {
      top: 20px;
      left: 70%;
      font-size: 1.4rem;
    }
  }
  
.header {
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url(https://images.unsplash.com/photo-1482858683229-74280d78908b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5530707633478a5be10d25f09dacf9ef&auto=format&fit=crop&w=700&q=60);
    background-size: cover;
    background-position: top;
    position: relative;
}

.page-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
    white-space: nowrap;
}


.page-heading-primary {
    display: block;
    font-size: 3.125rem;
    font-weight: 300;
    color: #3498db;
}

.page-heading-secondary {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

/* ----------------------------------------------- */



.page-content {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}




.main {
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 20rem;
    flex-wrap: wrap;
}

.img-cont {
  max-width: 25rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1 1 20rem;
  margin: 0 1rem;
  order: 2;
}

.img-cont img {
  width: 100%;
  height: auto;
}
.page-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 20rem;
  flex-direction: column;
  order: 1;
}

.page-content-text h2 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    --min: 2.5em;   /* minimum value */
    --val: 5vw;     /* preferred value = 4% viewport width */
    --max: 5rem;
    padding-top: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
}
.page-content-text h2::after {
  content: '';
  height: 0.3rem;
  width: 60%;
  border-radius: 2rem;
  background-color: rgb(228, 172, 69);
  position: absolute;
  bottom: 0;
  left: calc(50% - 31%);
}
h2, p {
  font-size: clamp(var(--min), var(--val), var(--max));
}

.page-content-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
    margin-top: 30px;
    --min: 1rem;   /* minimum value */
    --val: 3vw;     /* preferred value = 4% viewport width */
    --max: 1.2rem;
    padding: 0 1rem;
    text-align: start;
    font-family: 'Poppins';
    
}
