@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    /* text-align: center; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    list-style-type: none;
    font-style: normal;
  }

  body {
    height: 100vh;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /*Navbar  */

.landingpage .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.landingpage .box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* margin-top: 80px; */
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.736)), url('https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');

}

.landingpage .auction {
  margin-top: 100px;
}

.landingpage .discover {
  display: flex;
  flex-direction: column;
}

.landingpage .footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingpage .footer2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: top 0.3s;
  z-index: 1000;
}


.hamburger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.hamburger-icon {
  width: 45px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.hamburger-nav{
  width: 0;
  height: 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: left;
  justify-content: center;
  overflow: hidden;
  /* opacity: 1; */
  border-bottom-left-radius: 100%;
  /* transition: width 0.5s , height 0.5s , border-radius 0.5s; */
  backdrop-filter: blur(25px);
  pointer-events: none;
  transition-delay: 0s;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, opacity 0.5s;
}

.hamburger-nav ul {
  list-style: none;
  padding: 0;
  margin: 4.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background: none; 
  border: none; 
  color: white;
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  position: absolute; 
  top: 19px;  
  z-index: 2;
  right: 2.3%;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
   color: blue;
   transform: scale(1.2) rotate(90deg);
}

.close-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.close-button:hover::after {
  opacity: 1;
}

.hamburger-nav.open-menu{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0;
  display: block;
  pointer-events: all;
  transition-delay: 0s;
  opacity: 1;
}

.hamburger-nav.open-menu ul li{
  opacity: 1;
  transform: translateY(0);
}


.hamburger-nav ul li {
  opacity: 0;
  font-size: 80px;
  transform: translateY(20px);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
  transform-origin:center;
  transition-delay: 0s;
}

.hamburger-nav ul li:nth-child(1) {
  transition-delay: 0.5s;
}

.hamburger-nav ul li:nth-child(2) {
  transition-delay: 1.0s;
}

.hamburger-nav ul li:nth-child(3) {
  transition-delay: 1.5s;
}

.hamburger-nav ul li:nth-child(4) {
  transition-delay: 2.0s;
}

.hamburger-nav ul li:nth-child(5) {
  transition-delay: 2.5s;
} 
.hamburger-nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 blue;
  transition: text-shadow 0.5s , transform 0.5s; 
}

.hamburger-nav ul li a:hover{
  text-shadow: -3px 3px 0 blue , 0 0 10px blue;
  transform: translateY(-6px);
}
 
.hamburger-nav ul li a:hover::after{
  opacity: 1;
  box-shadow: -2px 2px 0 blue;
}

/* Media query for responsiveness */
/* @media screen and (max-width: 728px) {
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding-top: 50px;
    padding-bottom: px;
    text-align: center;
  }

  .hamburger-nav ul li a {
    font-size: 35px;
  }
} */
@media screen and (min-width: 355px) and (max-width:750px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 22px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

@media screen and (min-width: 376px) and (max-width:900px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 23px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 55px;
  }
}

@media screen and (min-width: 665px) and (max-width:1050px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 75px;
  }
}

@media screen and (min-width: 370px) and (max-width:670px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}

@media screen and (min-width: 270px) and (max-width:670px){
  .hamburger-nav {
    width: 100%;
  }

  .hamburger-nav ul li {
    padding: 25px;
    text-align: center;
    position: center;
  }

  .hamburger-nav ul li a {
    font-size: 40px;
  }
}
  
.header {
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url(https://images.unsplash.com/photo-1482858683229-74280d78908b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5530707633478a5be10d25f09dacf9ef&auto=format&fit=crop&w=700&q=60);
    background-size: cover;
    background-position: top;
    position: relative;
}

.page-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
    white-space: nowrap;
}


.page-heading-primary {
    display: block;
    font-size: 3.125rem;
    font-weight: 300;
    color: #3498db;
}

.page-heading-secondary {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

/* ----------------------------------------------- */



.page-content {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}




.main {
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 20rem;
    flex-wrap: wrap;
}

.img-cont {
  max-width: 25rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1 1 20rem;
  margin: 0 1rem;
  order: 2;
}

.img-cont img {
  width: 100%;
  height: auto;
}
.page-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 20rem;
  flex-direction: column;
  order: 1;
}

.page-content-text h2 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    --min: 2.5em;   /* minimum value */
    --val: 5vw;     /* preferred value = 4% viewport width */
    --max: 5rem;
    padding-top: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
}
.page-content-text h2::after {
  content: '';
  height: 0.3rem;
  width: 60%;
  border-radius: 2rem;
  background-color: rgb(228, 172, 69);
  position: absolute;
  bottom: 0;
  left: calc(50% - 31%);
}
h2, p {
  font-size: clamp(var(--min), var(--val), var(--max));
}

.page-content-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
    margin-top: 30px;
    --min: 1rem;   /* minimum value */
    --val: 3vw;     /* preferred value = 4% viewport width */
    --max: 1.2rem;
    padding: 0 1rem;
    text-align: start;
    font-family: 'Poppins';
    
}

section a{
  border: 1px solid wheat;
  left: 28%;
  padding: 15px 15px 15px 15px;
  color: #fff;
  border-radius: 30px;
}

section a:hover{
  background: #fff;
  color: #191919;
  border: 2px solid black;
  transition: 0.5s all ease-in-out;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    /* text-align: center; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    list-style-type: none;
    font-style: normal;
  }

  
  
  section a{
    border: 1px solid wheat;
    left: 33%;
    bottom: -35px;
    padding: 15px 15px 15px 15px;
    color: #fff;
    border-radius: 30px;
  }
}