@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nova+Square&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a000f;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.exhibition-content {
    font-size: 12px;
}
a{
    text-decoration: none;
}

/*Navbar  */

.landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
  }
  
  .landingpage .box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.736)), url('https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
  
  }
  
  .landingpage .auction {
    margin-top: 100px;
  }
  
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  
  .landingpage .footer {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .landingpage .footer2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 1px solid #f2f2f2;
  }
  
  .hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: top 0.3s;
    z-index: 1000;
  }
  
  
  .hamburger-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  
  .hamburger-icon {
    width: 45px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bar {
    width: 35px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }
  
  .hamburger-nav{
    width: 0;
    height: 0;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    /* opacity: 1; */
    border-bottom-left-radius: 100%;
    backdrop-filter: blur(25px);
    pointer-events: none;
    transition-delay: 0s;
    transition: width 0.5s, height 0.5s, border-radius 0.5s, opacity 0.5s;
  }
  
  .hamburger-nav ul {
    list-style: none;
    padding: 0;
    margin: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    background: none; 
    border: none; 
    color: white;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    position: absolute; 
    top: 19px;  
    z-index: 2;
    right: 2.3%;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .close-button:hover {
     color: blue;
     transform: scale(1.2) rotate(90deg);
  }
  
  .close-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  .close-button:hover::after {
    opacity: 1;
  }
  
  .hamburger-nav.open-menu{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    display: block;
    pointer-events: all;
    transition-delay: 0s;
    opacity: 1;
  }
  
  .hamburger-nav.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .hamburger-nav ul li {
    opacity: 0;
    font-size: 80px;
    transform: translateY(20px);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
    transform-origin:center;
    transition-delay: 0s;
  }
  
  .hamburger-nav ul li:nth-child(1) {
    transition-delay: 0.5s;
  }
  
  .hamburger-nav ul li:nth-child(2) {
    transition-delay: 1.0s;
  }
  
  .hamburger-nav ul li:nth-child(3) {
    transition-delay: 1.5s;
  }
  
  .hamburger-nav ul li:nth-child(4) {
    transition-delay: 2.0s;
  }
  
  .hamburger-nav ul li:nth-child(5) {
    transition-delay: 2.5s;
  } 
  .hamburger-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 0 blue;
    transition: text-shadow 0.5s , transform 0.5s; 
  }
  
  .hamburger-nav ul li a:hover{
    text-shadow: -3px 3px 0 blue , 0 0 10px blue;
    transform: translateY(-6px);
  }
   
  .hamburger-nav ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 blue;
  }
  
  @media screen and (min-width: 355px) and (max-width:750px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 22px;
      text-align: center;
      position: center;
    }
  
    .hamburger-nav ul li a {
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width:900px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 23px;
      text-align: center;
      position: center;
    }
  
    .hamburger-nav ul li a {
      font-size: 55px;
    }
  }
  
  @media screen and (min-width: 665px) and (max-width:1050px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 25px;
      text-align: center;
      position: center;
    }
  
    .hamburger-nav ul li a {
      font-size: 75px;
    }
  }
  
  @media screen and (min-width: 370px) and (max-width:670px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 25px;
      text-align: center;
      position: center;
    }
  
    .hamburger-nav ul li a {
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 270px) and (max-width:670px){
    .hamburger-nav {
      width: 100%;
    }
  
    .hamburger-nav ul li {
      padding: 25px;
      text-align: center;
      position: center;
    }
  
    .hamburger-nav ul li a {
      font-size: 40px;
    }
  }

/* carousel */
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .first-line{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 4em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
    font-size: 6em !important;
}

.carousel .list .item .des {
    font-weight: 500;
    font-size: 17px;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.carousel .list .item .buttons button:hover {
    background-color: #444444;
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

strong {
    font-size: 22px;
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .first-line,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .first-line,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

/* About the Event */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-event {
    text-align: center;
}

.about-event h1 {
    font-family: 'Nova Square', sans-serif;
    font-size: 60px;
    color: #008080;
    letter-spacing: 5px;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card {
    width: 400px;
    max-width: 80%;
    background-color: #1e1e2a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    margin-top: 40px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #2c2c3e;
    border-radius: 16px 16px 0 0;
}

.card-content {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.card button {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #140c18;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.card button:hover {
    background-color: #908cb3;
    transform: scale(1.05);
}

@media screen and (max-width: 700px) {
    body {
        font-size: 10px;
    }

    .carousel .list .item .content {
        padding-right: 10%;
    }

    .carousel .list .item .content .title {
        font-size: 24px;
    }

    .about-event h1 {
        font-size: 40px;
    }

    .about-event p {
        font-size: 18px;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }

    .arrows button {
        color: #333;
        margin-top: 5px; 
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size: 8px;
    }

    .carousel .list .item .content .title {
        font-size: 18px;
    }

    .about-event h1 {
        font-size: 30px;
    }

    .about-event p {
        font-size: 16px;
    }

    .arrows button {
        color: #333;
        margin-top: 5px;
    }
}

@media screen and (min-width: 340px) and (max-width: 450px) {
    .carousel .list .item .topic {
        font-size: 4em !important;
    }

    .carousel .list .item .first-line {
        font-size: 1.35em !important;
    }

    .carousel .list .item .title {
        font-size: 1.65em !important;
    }

}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .card {
        max-width: 80%;
    }
}

/* Footer Section */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.footer_container {
  min-height: 380px;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  padding: 30px 30px;
  background-color: #1d1d1d;
}

.footer_first_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.footer_middle_part {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.footer_container ul {
  list-style: none;
  padding-top: 15px;
}

.footer_container a {
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s, text-shadow 0.2s;
}

.footer_container a:hover {
  text-shadow: 2px 2px 4px #00FFFF;
  text-decoration: underline;
}

.footer_icons a {
  transition: color 0.2s !important;
}

.footer_icons ion-icon[name="logo-instagram"]:hover {
  color: rgb(188, 42, 141);
}

.footer_icons ion-icon[name="logo-linkedin"]:hover {
  color: rgb(0, 119, 181);
}

.footer_icons ion-icon[name="logo-github"]:hover {
  color: #171515;
}

.footer_icons ion-icon[name="logo-facebook"]:hover {
  color: #4267B2;
}

.footer_container li {
  padding-top: 12px;
}

.footer_links {
  padding-left: 270px;
}

.footer_phone_number {
  padding-left: 270px;
}

.footer_icons {
  padding-left: 233px;
}
.footer_icons h2 {
  margin-bottom: 20px;
  padding-left: 7px;
}

.footer_icons span{
  font-size: 30px;
  padding: 0 7px;
}

.footer_email {
  padding-left: 240px;
}

.footer_ending_line {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 15px;
  text-align: auto;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 10px 0; 
}

.footer_name h1{
  font-size: 45px;
  padding-top: 40px;
  font-weight: 500;
}

.footer_name span {
  font-size: 20px;
}

.footer_container h2{
    font-weight: bold;
}


@media (min-width: 1164px) {
  .footer_container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1164px) {
  .footer_first_part,
  .footer_middle_part {
    grid-template-columns: 1fr; 
  }

  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email,
  .footer_name,
  .footer_address,
  .footer_ending_line {
    padding-left: 0; 
    text-align: center; 
  }

  .footer_icons h2 {
    padding-left: 0;
  }
  .footer_links,
  .footer_phone_number,
  .footer_icons,
  .footer_email {
    padding-top: 20px;
  }
}

@media(min-width: 1200px) and (max-width: 1405px) {
  .footer_container h2 {
    font-size: 21px;
  }
}

@media(min-width: 300px) and (max-width: 450px) {
  .footer_ending_line {
    font-size: 12px;
  }
}

