body {
  background-color: #6c0102;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.content {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.65);
  animation: spin-all calc(var(--sp) * 2) linear 0s infinite;
}

body::-webkit-scrollbar {
  display: none;
}
/* **************LANDING PAGE************** */
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(audeince-transformed.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;

  max-width: 100%;
  pointer-events: none;
}

*/ #text {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  text-shadow: #112434 4px 4px;
  text-align: center;
}
#text {
  font-size: 14vh;
  /* text-shadow: #112434 4px 4px; */

  font-family: "Space Mono", monospace;

  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

#man {
  width: 30%;
  height: 105vh;

  max-width: fit-content;
  object-fit: cover;
}
#t1 {
  width: 200px;
  height: 500px;
}

.eventlist {
  font-size: 10vh;
  padding: 0;
  font-family: Samarkan;
}

/* *******trailer********* */
body:hover > #trailer {
  opacity: 1;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;

  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 4px;
  line-height: 4px;
  color: #e60707;
  opacity: 0;
  transition: opacity 400ms ease;
}

.sec {
  display: flex;
  /* padding-top: 10rem; */
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

/* ***********RESPONSIVENESS*********** */

/* @media only screen and (max-width: 600px) {
  
  #text {
    
    font-size: 10vh;
    
   
  max-width: 100%;
  transform: translate(-70%);

  text-align: left;
  word-wrap: break-word;

  }
 
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
 
#man {
  width: 100%;
  height: 90%;
  max-width: fit-content;
  object-fit: cover;
  
}
} */

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #text {
    font-size: 120px;
    padding-bottom: 300px;
  }
  #man {
    width: 100%;
    height: 80vh;
  }
  #trailer {
    height: 0;
    width: 0;
    background-color: white;
    border-radius: 0;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
  }
  #trailer-icon {
    font-size: 0;
    line-height: 0;
    color: #e60707;
    opacity: 0;
  }

  .numbers {
    display: flex;
    height: 1vh;
    background-color: #ffffff;
    color: #00fbe2;
    justify-content: space-between;
    justify-content: space-around;
  }
  span {
    font-size: 10rem;
    font-weight: 100;
  }

  .nav-second {
    margin-top: 0;
    font-size: 3rem;
    font-weight: 700;
  }
  #number-container {
    margin-top: 0;
    font-size: 3rem;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
  }
  .dolla {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    margin: 0;
  }
}
/* mobile */
@media (max-width: 768px) {
  #text {
    font-size: 6.5vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    padding-right: 60px;
  }
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #man {
    width: 100%;
    height: 97%;
  }
  #trailer {
    height: 0;
    width: 0;
    background-color: white;
    border-radius: 0;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
  }
  #trailer-icon {
    font-size: 0;
    line-height: 0;
    color: #e60707;
    opacity: 0;
  }
  .eventlist {
    font-size: 7vh;
    padding: 0;
    font-family: Samarkan;
  }
}
/* card */
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 8rem;
}
.card__article {
  position: relative;
}
.card__img {
  width: 400px;
  border-radius: 1.5rem;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);

}
.rgb::after {
  content:"";
  background: linear-gradient
  (45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
}


.card__data {
  width: 200px;
  height: fit-content;
  background-color: #7d0101;
  padding: 1.5rem 2rem;
  position: absolute;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1.5rem;
  bottom: -5rem;

  margin-inline: auto;
  margin-left: 30px;
  background-color: rgba(22, 71, 186, 0.4);  /* Translucent white background */
  backdrop-filter: blur(5px); 
  
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
  font-family: 'Comfortaa', sans-serif;
  
}
.card__title {
  font-weight: 1000;
  font-size: 25px;
  
  margin-bottom: 0.75rem;
  font-family: Cyber Nova;
}
.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}
.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
/* .card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}
.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
} */

/* Card animation */
/* @keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
} */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    padding-inline: 2.5rem;
  }
}

/* mid section */

.numbers {
  display: flex;
  height: 20vh;
  background-color: #ffffff;
  color: #fb0000;
  justify-content: space-between;
  justify-content: space-around;
}
span {
  font-size: 1rem;
  font-weight: 100;
}

.nav-second {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}
#number-container {
  margin-top: 0;
  font-size: 3rem;
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
}
.dolla {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  margin: 0;
}
